[submodule "bawang-content-en"]
	path = bawang-content-en
	url = git@github.com:datasektionen/bawang-content-en.git
[submodule "en"]
	path = en
	url = git@github.com:datasektionen/bawang-content-en.git
